<div class="content">
    <header class="hero-image min-h-screen">
        <img src="../../../assets/images/image.jpeg" alt="Login image" class="bg-image w-full h-full object-cover" />
    </header>
    <div class="page-transition">
        <div class="form-overlay">
            <div class="form-card animate_animated animate_fadeIn">
                <div class="titulo">
                    <span class="icon"><i class="bi bi-person-plus"></i></span>
                    <h2>¡Crea tu cuenta!</h2>
                    <p class="text-muted">Únete a Smart Coach y lleva tu juego al siguiente nivel.</p>
                </div>
                <form (ngSubmit)="register()">
                    <div class="mb-2">
                        <label for="nombre" class="form-label">Nombre completo</label>
                        <input type="text" class="form-control" [(ngModel)]="nombre" name="nombre" required
                            placeholder="Ej: Juan Pérez">
                    </div>
                    <div class="mb-2">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" [(ngModel)]="email" name="email" #emailInput="ngModel"
                            required email placeholder="Ej: correo@ejemplo.com">
                    </div>
                    <div class="mb-2">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" [(ngModel)]="password" name="password" required
                            placeholder="Mínimo 6 caracteres">
                    </div>
                    <button type="submit" class="btn btn-dark mt-2 ">Registrarme</button>
                </form>
                <div class="text-center mt-3">
                    <span class="text-muted">¿Ya tienes cuenta? <a routerLink="/login" class="text-primary">Ingresa
                            aquí</a></span>
                </div>
            </div>

            <div *ngIf="emailInput.invalid && emailInput.touched">
                <small *ngIf="emailInput.errors?.['required']">
                    El correo es obligatorio
                </small>
                <small *ngIf="emailInput.errors?.['email']">
                    Formato de correo inválido
                </small>
            </div>

        </div>
    </div>
</div>