<div class="app-container">

    <aside class="sidebar">
        <div class="logo">
            <div class="logo-icon">SC</div>
            <div class="logo-text-wrapper">
                <h3 class="logo-text">SmartCoach</h3>
                <p class="logo-subtext">GESTIÓN DEPORTIVA</p>
            </div>
        </div>

        <nav>
            <a routerLink="/dashboard-admin">
                <span class="material-symbols-outlined">space_dashboard</span>
                <span>Panel de Control</span>
            </a>
            <a routerLink="/ver-equipos">
                <span class="material-symbols-outlined">group</span>
                <span>Equipos</span>
            </a>
            <a routerLink="/ver-jugadores">
                <span class="material-symbols-outlined">person</span>
                <span>Jugadores</span>
            </a>
            <a class="active" routerLink="/ver-entrenamientos">
                <span class="material-symbols-outlined">fitness_center</span>
                <span>Entrenamientos</span>
            </a>
            <a routerLink="/ver-partidos">
                <span class="material-symbols-outlined">sports_soccer</span>
                <span>Partidos</span>
            </a>
            <a routerLink="/ver-usuarios">
                <span class="material-symbols-outlined">emoji_people</span>
                <span>Usuarios</span>
            </a>
        </nav>

        <button class="logout" (click)="logout()">
            <span class="material-symbols-outlined">logout</span>
            Cerrar sesión
        </button>
    </aside>
    <main class="main-content">
        <header class="page-header">
            <div>
                <h1>Lista de entrenamientos</h1>
                <p class="sub">Gestiona y visualiza la información de tus entrenamientos registrados.</p>
            </div>
            <button class="btn-primary" (click)="router.navigate(['/crear-entrenamiento'])">
                <span class="material-symbols-outlined">add_circle</span>
                Crear nuevo entrnenamiento
            </button>
        </header>

        <div *ngIf="loading">Cargando entrenamientos...</div>

        <div *ngIf="!loading && entrenamientos.length === 0">
            No hay entrenamientos registrados
        </div>

        <section class="card table-container" *ngIf="!loading && entrenamientos.length > 0">

            <table>
                <thead>
                    <tr>
                        <th>Equipo</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Duración</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let entrenamiento of entrenamientos">
                        <td>{{ entrenamiento.equipo_nombre }}</td>
                        <td>{{ entrenamiento.fecha | date:'shortDate' }}</td>
                        <td>{{ entrenamiento.hora }}</td>
                        <td>{{ entrenamiento.tipo }}</td>
                        <td>{{ entrenamiento.duracion  }} min</td>

                        <td>
                            <span [ngClass]="{
                                'estado-completado': entrenamiento.estado === 'completado',
                                'estado-pendiente': entrenamiento.estado === 'programado'
                            }" class="badge">
                                {{ entrenamiento.estado }}
                            </span>
                        </td>

                        <td class="text-right">
                            <div class="action-buttons">
                                <button class="btn-icon btn-edit"
                                    [title]="entrenamiento.estado === 'completado' ? 'No se puede editar un partido completado' : ''"
                                    [routerLink]="['/editar-entrenamiento', entrenamiento.id]"
                                    [disabled]="entrenamiento.estado === 'completado'">
                                    <span class="material-symbols-outlined">edit</span>
                                </button>
                                <button class="btn-icon btn-delete" title="Eliminar" (click)="eliminar(entrenamiento.id!)">
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

    </main>

</div>